[submodule "MaisFoco"]
	path = MaisFoco
	url = https://github.com/Ddiidev/MaisFoco
[submodule "JobSendRecomendation"]
	path = JobSendRecomendation
	url = https://github.com/Ddiidev/JobSendRecomendation
[submodule "Core"]
	path = Core
	url = https://github.com/Ddiidev/Core
