[submodule "MaisFoco"]
	path = MaisFoco
	branch = main
	url = https://github.com/Ddiidev/MaisFoco
[submodule "JobSendRecomendation"]
	path = JobSendRecomendation
	branch = main
	url = https://github.com/Ddiidev/JobSendRecomendation
[submodule "Core"]
	path = Core
	branch = main
	url = https://github.com/Ddiidev/Core
